.anime-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    list-style: none;
    padding: 0;
}

.anime-list li {
    text-align: center;
    background-color: #EC7120;
    border: none;
    border-radius: 10px;
    color: rgb(228, 209, 209);
   
}

.anime-list img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.list-group{
    margin-top: 20px;
    align-items: center;
}
.anime-list {
    /* Adiciona uma pequena margem ao redor da lista de itens */
    margin-top: 20px;
}

/* styles.css ou equivalente */
.card-title {
    white-space: nowrap; /* Impede a quebra de linha */
    overflow: hidden;    /* Oculta o texto que excede o contêiner */
    text-overflow: ellipsis; /* Adiciona reticências no final do texto excedente */
    max-width: 100%;     /* Garante que o título não ultrapasse a largura do contêiner */
}