.anime-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    list-style: none;
    padding: 0;
}

.anime-list li {
    text-align: center;
    background: none;
    border: none;
    border-radius: 10px;
    color: rgb(228, 209, 209);
   
}

.anime-list img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: none;
}
.list-group{
    margin-top: 20px;
    align-items: center;
}
.anime-list {

    margin-top: 20px;
}

.card-title {
    white-space: nowrap; 
    overflow: hidden;   
    text-overflow: ellipsis; 
    max-width: 100%;     
}
.synopsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 100px; /* Limita a altura para controlar o espaço disponível */
    padding: 0 10px; /* Adiciona padding para um melhor ajuste visual */
  }
  