body {
    background-color: black;
    color: #f8f9fa;
}
.card-title {
    white-space: nowrap;
    overflow: hidden;   
    text-overflow: ellipsis; 
    max-width: 100%;     
}

@media (max-width: 425px) {
   
    .container {
        align-items: center;
        text-align: center;
        
        
    }
    .anime-list {
        align-items: center;
        padding-left: 40px;
    }
    .list-group-item {
        padding: 0;
        width: 80%;
        margin-left: 30px;
        
    }
}
@media (max-width: 767px) {
    .slick-prev, .slick-next {
        display: none !important;
    }
}
/* components/Footer.module.css */

.footer {
    background-color: #f1f1f1;
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #ddd;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  footer{
    margin-top: 10px;
    background-color: #212529;
  }
  .socialLinks a {
    margin: 0 0.5rem;
    color: #EC7120;
    text-decoration: none;
  }
  
  .socialLinks a:hover {
    text-decoration: underline;
  }
  