body {
    background-color: black;
    color: #f8f9fa;
}
.card-title {
    white-space: nowrap;
    overflow: hidden;   
    text-overflow: ellipsis; 
    max-width: 100%;     
}

@media (max-width: 425px) {
   
    .container {
        align-items: center;
        text-align: center;
        
        
    }
    .anime-list {
        align-items: center;
        padding-left: 40px;
    }
    .list-group-item {
        padding: 0;
        width: 80%;
        margin-left: 30px;
        
    }
}