body {
    background-color: black;
    color: #f8f9fa;
}
.card-title {
    white-space: nowrap; /* Impede a quebra de linha */
    overflow: hidden;    /* Oculta o texto que excede o contêiner */
    text-overflow: ellipsis; /* Adiciona reticências no final do texto excedente */
    max-width: 100%;     /* Garante que o título não ultrapasse a largura do contêiner */
}