.container-queue{
  display: flex;
  align-items: center;
  border: 1px solid #EC7120;
  border-radius: 8px;
  padding: 5px;
}
.container-queue ul{
  flex-wrap: wrap;
  display: flex;
}
.container-queue li{
  list-style: none;
  margin: 10px;
}
.container-queue img{
  border-radius: 10px;
}