.card-img-top {
    height: 300px; 
    object-fit: cover; 
    width: 100%;
}

.card-body {
    padding: 1rem; 
}

.card-title {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: block; 
    font-size: 1rem; 
}

.carousel-control-prev {
    left: -120px;
}
.carousel-control-next {
    right: -120px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 50%;
    width: 50px; 
    height: 50px; 
}
.carousel-indicators {
    position: absolute;
    bottom: -30px; /* Ajuste conforme necessário para posicionar abaixo do carrossel */
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; /* Certifique-se de que eles estão acima do carrossel */
    margin: 0;
}